.blog-title {
    text-align: center;
    color: blue;
}

.intro {
    font-size: 18px;
    margin-bottom: 20px;  
    color: red;
}

.interests {
    list-style-type: square;
    margin-left: 20px;
}
